@font-face {
  font-family: "iconfont"; /* Project id 3540719 */
  src: url('iconfont.woff2?t=1658627115617') format('woff2'),
       url('iconfont.woff?t=1658627115617') format('woff'),
       url('iconfont.ttf?t=1658627115617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjia:before {
  content: "\e613";
}

.icon-ruku:before {
  content: "\e60f";
}

.icon-jianhuo:before {
  content: "\e63a";
}

.icon-navicon-pdd:before {
  content: "\e655";
}

.icon-chukudan:before {
  content: "\e614";
}

.icon-pdrw:before {
  content: "\e616";
}

.icon-kache:before {
  content: "\e626";
}

.icon-jjrw:before {
  content: "\e903";
}

.icon-kunei:before {
  content: "\e88d";
}

.icon-tuichu:before {
  content: "\e608";
}

.icon-shangwuguanli:before {
  content: "\e630";
}

.icon-xinxi:before {
  content: "\e61c";
}

.icon-rukuguanli:before {
  content: "\e644";
}

.icon-chukuguanli:before {
  content: "\e645";
}

